@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color: rgb(0, 0, 0);
	text-align: center;
}

h1 {
    margin-top: 10px;
    font-size: xx-large;
    color: whitesmoke;
}
.aboutus {
    margin-top: 10px;
    background: whitesmoke;
}

.logs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	background: rgba(255, 255, 255, 0.546);
	margin-right: 5px;
	align-items: center;
}

.likebtn {
	color: black;
	background-color: rgba(229, 229, 229, 0.689);
	border-color: inherit;
}

.editbtn {
	color: black;
	background-color: rgba(229, 229, 229, 0.689);
	border-color: inherit;
}

.navbar {
	background: whitesmoke;
}

.menu {
	background: white;
}

select {
	background: rgba(255, 255, 255, 0.837);
	border-radius: 10px;
	text-align: center;
	width: 300px;
    height: 20px;
}

input {
	margin-bottom: 5px;
	background: rgba(255, 255, 255, 0.837);
	border-radius: 10px;
	width: 300px;
    height: 20px;
    text-align: center;
}

textarea {
    margin-bottom: 5px;
	background: rgba(255, 255, 255, 0.837);
	border-radius: 10px;
    height: 100px;
    inline-size: 300px;
    word-wrap: break-word;
    word-break: break-all;
    text-align: center;
}

.formcard {
	background: rgb(119, 119, 119);
	margin: auto;
	margin-top: 2em;
    border-radius: 10em;
}
